* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }




.nav-cont{

    height:10%;
}


.nav-row{
    background-color: #efefef;
}

.nav-col{
    background-color: #167d7f;
}

.navbar{
    
    display: flex;
    justify-content: space-between;
    
}

#index_admin_link,
#admin_login_link,
#home_logout_link{
 
    text-decoration: none;
}

.page-nav-btn{

    text-decoration: none;
    color: white;
    transform: scale(0.95);

}

.page-nav-btn:hover,
.page-nav-btn:active{

    transform: scale(1);
    text-decoration: none;
    color: white;

}


.navbar h2{
    
    font-family: 'Goudy Bookletter 1911', Arial, Helvetica, sans-serif;
    color:#efefef;
    
}

.admin-span{
    color: #FF9B21;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
    height: 100vh;
       

}


/* .home-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
   
    
} */

.home-cont-admin{

    display: flex;
    justify-content: center;
    margin-top: 40px;
    height: 90%;
    
    
    /* background: linear-gradient(rgba(255,0,0,0.5),rgba(255,0,0,0.5)); */
    
}
.home-cont-index{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    
    /* background: linear-gradient(rgba(255,0,0,0.5),rgba(255,0,0,0.5)); */
    
}



.home-row-admin{
  
    background-color: #167d7f;
    width: 500px;
   
    border-radius: 10px;
    padding-top: 10px;
    box-shadow: 1px 2px 10px #888888;
    

}

.home-row-index{
  
    background-color: #167d7f;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    padding-top: 10px;
    box-shadow: 1px 2px 10px #888888;


}

.home-col{

    background-color: white;

}


.home-inner-col{
    
    margin:auto;
    
    
}


.container-login-heading{
    margin-bottom: 10px;
}

.container-login-heading h2{

    font-family: 'Goudy Bookletter 1911', Arial, Helvetica, sans-serif;


}


.home-cont-fluid{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 91%;
  
    
}

.home-alpha-cont{
    height: 80%;
   
}




.card-custom{
    box-shadow: 1px 2px 10px #888888;
    
}

.card-custom img{

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.cust-card-title{

    font-family: 'Quicksand', Arial, Helvetica, sans-serif;

    font-weight: 400;
}
.cust-card-text{

    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 90%;

}

.home-emp-btn,
.home-prod-btn{
    width: 40%;
}


.green{
    color: chartreuse;

}

.red{
    color: crimson;
    
}

/* For admin.html*/
.base{
    
    
    height: 100px;
}