<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">

    

        <title>
            Account
        </title>
    </head>
    <body>
        <header>
        <nav>
            <div class="container-fluid nav-cont">
                <div class="row nav-row pt-1">
                    <div class="col-12 nav-col">
                        <div class="navbar">
                            <div class="nav-item-1">
                                
                                {% if authenticated %}

                                <h2 class="m-auto"> <a class="page-nav-btn" href="{% url 'home:home_page' %}"> <i class="bi bi-arrow-bar-right"></i> </a> </h2>

                                {% else %}

                                <h2 class="m-auto"> <a class="page-nav-btn" href="{% url 'home:index' %}"> <i class="bi bi-arrow-bar-right"></i> </a> </h2>
                                {% endif %}

                            </div>

                            <div class="nav-item-2">
                                <h2 class="m-auto">Account</h2>
                            </div>

                            <div class="nav-item-2">
                                <a id="index_admin_link" href="{% url 'home:admin' %}"> <h2 class="m-auto">Admin</h2> </a>
                            </div>
                            
                       </div>
                        
                                
                    </div>
                </div>
            </div>

        </nav>


        
            <div class="container-fluid home-cont-index">

                <div class="row home-row-index">
                    <div class="col-12 home-col">
                        <div class="container home-inner-cont h-100">
                            <div class="row home-inner-row h-100">
                                <div class="col-11 home-inner-col">
                                   
                                   <form action="{% url 'home:login_session' %}" method="post">
                                       {% csrf_token %}
                                       
                                       <div class="container container-login-heading">
                                           <div class="row">
                                               <div class="col-3">
                                                <h2>Login</h2>
                                               </div>
                                           </div>
                                       </div>


                                     <div class="container-fluid container-f-login">
                                         <div class="row">


                                            <div class="col-12">

                                                <div class="form-group">
                                                    <label for="username">Username</label>
                                                    <input class="form-control" type="text" name="username" id="username" placeholder="Enter Username" aria-describedby="username-help">
                                                   
                                                    <!-- <small id="username-help" class="form-text text-muted">Enter Username</small> -->
                                                  </div>
                
                                            </div>

                                            <div class="col-12">

                                                <div class="form-group">
                                                    <label for="password">Password</label>
                                                    <input class="form-control" type="password" name="password" id="password" placeholder="Enter password" aria-describedby="password-help">
                                                   
                                                    <!-- <small id="password-help" class="form-text text-muted">Enter Password</small> -->
                                                  </div>
                
                                            </div>


                                            <div class="col-12">

                                                <div class="form-group">
                                                    
                                                    {% if error %}

                                                        <span class="red"> {{error_value}} </span>
                                                    {% endif %}
                                                    
                                                </div>
                
                                            </div>


                                            <div class="col-12">

                                                <div class="form-group">
                                                    
                                                    <input class="btn btn-primary" type="submit" name="submit" value="Login">  
                                                </div>
                
                                            </div>


                                         </div>
                                     </div>

                                   </form>


                                   

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </header>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    </body>
</html>